.rightContainer {
    border-right: 1px solid #f5f7fb16;
    padding: 3rem 2rem;
}

.lockText {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 27px;
    text-align: center;
}

.imgContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid #f5f7fb16;
}

.mobileSignIn {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 27px;
    text-transform: uppercase;
    text-decoration: none;
}

.underline {
    border-bottom: 3px solid orange;
}

.logoDesign {
    display: flex;
    justify-content: center;
    padding: 3rem;
}