.headerContainer {
  background-color: #f5f7fb;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 12.5rem;
  right: 5.5rem;
  padding: 1.5rem 5rem;
  z-index: 2;
}

.dashBoardIcons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.head {
  background: var(--color);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem;
  z-index: 2;
  box-shadow: 0px 3px 11px rgb(0 0 0 / 56%);
}

.passManager {
  display: flex;
  flex-direction: row;
  gap: 21px;
}

.profileMobile {
  display: flex;
  flex-direction: row;
  gap: 26px;
}

/* zsxdcfgvbhnjkml,zsxdcfgvbhnjkm */
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 171px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 15px 10px;
  text-decoration: none;
  /* display: block; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: transparent;
}


.mobileHeaderDropDown {
  position: fixed;
  top: 60px;
  right: 0;
}